mixin hotel__icons__marata()
	.container-fluid
		.row.pt-2.d-flex.justify-content-between.align-items-between
			.col.icon11.no_padding
			.col.icon2.no_padding
			.col.icon3.no_padding
			.d-sm-none.w-100.m-1
			.col.icon4.no_padding
			.col.icon5.no_padding