// DE1D2F красный цвет с лого

.my_button {
  background-color: #a73d61;
  border-radius: 3px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-decoration: none;
  min-height: 38px;
  text-shadow: 0 -1px rgba(0, 0, 0, .29);
  cursor: pointer;
  line-height: 1;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-width: 220px;
  min-width: 185.33px;
}

.my_button_discount {
  background-color: #a73d61;
  border-radius: 3px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-decoration: none;
  min-height: 37px;
  text-shadow: 0 -1px rgba(0, 0, 0, .29);
  cursor: pointer;
  line-height: 1;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-width: 365.33px;
  min-width: 180px;
}

.my_button--recall {
  background-color: #a73d61;
  border-radius: 3px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-decoration: none;
  min-height: 30px;
  text-shadow: 0 -1px rgba(0, 0, 0, .29);
  cursor: pointer;
  line-height: 1;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-width: 190px;
  min-width: 155.33px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .my_button--recall {
    background-color: #a73d61;
    border-radius: 3px;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-decoration: none;
    min-height: 25px;
    text-shadow: 0 -1px rgba(0, 0, 0, .29);
    cursor: pointer;
    line-height: 1;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    max-width: 140px;
    min-width: 140.33px;
  }
}

