.no_padding {
  padding: 0 !important;
}

.icon31 {
  background-image: url('../../../img/hotel__icons__img/1-5.svg');
  width: 100px;
  height: 60px;
  background-size:contain;
  background-repeat: no-repeat;
background-position: center center;
}
