body {
  max-width: 2480px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Exo';
  font-size: 16px;
  background: white url('../../img/sliders/1st_screen/img_1_screen.jpg') top center no-repeat ;
}

