//- впишите необходимые данные в переменные vars
block vars
	- var title2= 'Dali апарт';
	- var description2= 'Квартиры и апарт-отели в Петербурге';
	- var charset2= 'UTF-8'
	- var keywords2= 'апарт-отель, апартаменты, снять, Петербург';
	- var stylesheet2= 'template.scss'

doctype html
html(lang='ru')
	head
		meta(charset=charset2)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name='description' content=description2)
		meta(name='keywords' content =keywords2)
		title #{title2}
		link(rel='stylesheet', href=stylesheet2)
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css"/>
		<script src="https://wubook.net/js/wblib.jgz"></script>


	body
		//карусель 1 экран
		//<ul class="body_slides">
		//<li></li>
		//<li></li>
		//<li></li>
		//</ul>
		block content
