include __block-review/rewievs__block-review.pug
.review
	.container-fluid
		h4.text-center.m-5.reviews--style-h3 Отзывы
		.responsive
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')
			div
				+review('about','июль 2018', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi cumque illo iure laboriosam molestias numquam quam rem sit voluptate?', 'author')


