include __block-review/rewievs__block-review.pug
.review
	.container-fluid
		h4.text-center.mt-5.reviews--style-h3 ОТЗЫВЫ
		.responsive
			div
				+review('На Кузнечном','октябрь 2018', 'Прекрасная, чистая квартира. Идеальный вариант проживания вдвоем. Отличное сочетание цена/качество. Очень понравилось расположение, в двух шагах от метро, от кино и от Невского проспекта. Очень приветливые хозяева. Рекомендую.', 'Анна')
			div
				+review('На Марата','январь 2019', 'Просторная студия, все удобно, можно готовить и есть много места для хранения. Для длительного проживания комфортно', 'Полина')
			div
				+review('На Тележной','октябрь 2018', 'Удобное располложение-рядом Невский, ,отдельный вход несомненный плюс.Квартира просторная. Чисто,тихо. Была возможность припарковать авто. Все понравилось', 'Максим')
			div
				+review('На Невском','январь 2019', 'Новый чистый дом,с консьержкой ,приветливый персонал,просторный балкон,удобные кровати .магазин продуктов в доме ,остановка транспорта ,метро все рядом . Очень все понравилось.', 'Аноним')
			div
				+review('На Кузнечном','сентябрь 2018', 'Начиная с входа и заканчивая выходом. Чисто приятно, тихо по вечерам и близость остановки метро и автобуса с трамваем. Необычно повезло на мой взгляд, это столовая в этом же здании. Вкусно и не дорого.', 'Марат')
			div
				+review('На Тележной','апрель 2018', 'Очень приветливая хозяйка, быстрое заселение, все необходимое в квартире есть. Удобное месторасположение. Все понравилось, рекомендую!', 'Марина')
			div
				+review('На Кузнечном','сентября 2018', 'Всё очень понравилось! Чистота, комфорт и уют!) И всё это в центре) Теперь будем останавливаться только здесь)', 'Юлия')
			div
				+review('На Тележной','август 2018', 'очень тихий двор, никого не слышно и не видно. Отдельных вход, нет соседей. Во дворе полно места для парковки. 2 полноценные комнаты, чистое хорошее постельное. На кухне все что нужно. Расположение просто замечательное!!!', 'Филипп')
			div
				+review('На Марата','ноябрь 2018', 'Очень понравилось расположение, рядом метро, вокзал московский. Хороший номер, чувствовали себя хорошо и уютно. Номер был с общим туалетом и душем, но это не вызвало никаких неудобств. Всем советую этот отель!', 'Катрин')
			div
				+review('На Тележной','август 2018', 'очень тихий двор, никого не слышно и не видно. Отдельных вход, нет соседей. Во дворе полно места для парковки. 2 полноценные комнаты, чистое хорошее постельное. На кухне все что нужно. Расположение просто замечательное!!!', 'Филипп')
			div





