.menu_font {
  color: black;
  padding-left: 4vw;
  padding-right: 4vw;
  font: bold 1.2rem Roboto;
}

@media (min-width:576px) and (max-width: 991px) {
  .menu_font {
    padding-left: 1vw;
    padding-right: 1vw;
    font: bold 1.1rem Roboto;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .menu_font {
    font: bold 1rem Roboto;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .menu_font {
    font-size: 1.4rem;
  }
}

@media (min-width: 1600px) {
  .menu_font {
    font-size: 1.5rem;
  }
}

.reacallus__button--wrapper {
  text-align: center;
}

.hop {
  text-decoration: none;
  color: black;
}

.hop:hover {
  color: #D33D61;
  text-decoration: none;
}

.hop_no:hover {
  color: black;
  text-decoration: none;
}

.first-screen__menu__recall-button-style a {
  text-decoration: none;
}


//
//@media (min-width: 893px) and (max-width: 1920px) {
//  .reacallus__button--wrapper {
//    right: 4vw;
//    top: 4vw;
//  }
//}
//
//@media (min-width: 520px) and (max-width: 892px) {
//  .reacallus__button--wrapper {
//    top:60px;
//    left:calc(50% - 13vw);
//  }
//}
//
//@media (min-width: 320px) and (max-width: 519px) {
//  .reacallus__button--wrapper {
//    top:60px;
//    left:calc(50% - 13vw);
//  }
//}


