.menu_font {
  color: #8a5336;
  padding-left: 4vw;
  padding-right: 4vw;
  font: bold 1.2rem Roboto;
}

@media (min-width:576px) and (max-width: 991px) {
  .menu_font {
    padding-left: 1vw;
    padding-right: 1vw;
    font: bold 1.1rem Roboto;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .menu_font {
    font: bold 1rem Roboto;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .menu_font {
    font-size: 1.4rem;
  }
}

@media (min-width: 1600px) {
  .menu_font {
    font-size: 1.5rem;
  }
}

.reacallus__button--wrapper {
  text-align: center;
}

.hop {
  text-decoration: none;
  color: #961008;
}

.hop:hover {
  color: #8A3000;
  text-decoration: none;
}

.hop_no:hover {
  color: black;
  text-decoration: none;
}

.first-screen__menu__recall-button-style a {
  text-decoration: none;
}



