.menu_font {
  font-family: 'Roboto';
  font-weight: normal;
  color: black;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 1rem;
}

@media (min-width:576px) and (max-width: 991px) {
  .menu_font {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 0.9rem;
  }
}

a.hop {
  text-decoration: none;
  color: black;
}
.first-screen__menu__recall-button-style {
  position: absolute;
  top: 8px;
  right: 4.15vw;
}

.first-screen__menu__recall-button-style a {
  text-decoration: none;
}

.first-screen__menu__recall-button-style-center{
  position: absolute;
  top: 50px;
  left: 47vw;
}

@media (min-width:850px) and (max-width:950px) {
  .first-screen__menu__recall-button-style-center{
    position: absolute;
    top: 50px;
    left: 46.55vw;
  }
}

@media (min-width:700px) and (max-width:849px) {
  .first-screen__menu__recall-button-style-center{
    position: absolute;
    top: 50px;
    left: 45.55vw;
  }
}

@media (min-width:569px) and (max-width:699px) {
  .first-screen__menu__recall-button-style-center{
    position: absolute;
    top: 50px;
    left: 45%;
  }
}

@media (min-width:362px) and (max-width:568px) {
  .first-screen__menu__recall-button-style-center{
    position: absolute;
    top: 50px;
    left: 43.55vw;
  }
}

@media (min-width:320px) and (max-width:362px) {
  .first-screen__menu__recall-button-style-center{
    position: absolute;
    top: 50px;
    left: 40.55vw;
  }
}



@media (min-width: 320px) and (max-width: 575px) {
  .menu_font {
    font-weight: normal;
    font-size: 1rem;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .menu_font {
    font-size: 1.4rem;
  }
}

@media (min-width: 1600px) {
  .menu_font {
    font-size: 1.5rem;
  }
}
