mixin hotel__icons()
	.container-fluid
		.row
			.col.d-flex.justify-content-between.align-items-end.pt-2
				.icon1.d-inline-block
				.icon2.d-inline-block
				.icon3.d-inline-block
				.icon4.d-inline-block
				.icon5.d-inline-block