mixin hotel__icons()
	.container-fluid
		.row
			.col.d-flex.justify-content-between.align-items-between.pt-2
				img(src='./img/inside.svg', class='img-fluid')
				img(src='./img/wi_fi.svg', class='img-fluid')
				img(src='./img/micro.svg', class='img-fluid')
				img(src='./img/dryer.svg', class='img-fluid')
				img(src='./img/tv.svg', class='img-fluid')