
.icon1 {
  background-image: url('./img/inside.svg');
  width: 113px;
  height: 75px;
}

.icon2 {
  background-image: url('./img/wi_fi.svg');
  width: 62px;
  height: 75px;
}

.icon3 {
  background-image: url('./img/micro.svg');
  width: 128px;
  height: 74px;
}

.icon4 {
  background-image: url('./img/dryer.svg');
  width: 70px;
  height: 72px;
}

.icon5 {
  background-image: url('./img/tv.svg');
  width: 83px;
  height: 74px;
}

.hotel__icons-gold-icon{}