.hotel__title--h1 {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: normal;
  text-align: center;
}

.hotel__title--link_map{
  text-decoration: underline;
}