.recall__title {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: normal;
  text-align: center;
}
.recall__subtitle {
  font-size: 22px;
}
.recall__action {}
.recall__form-sms {}
.recall__small-text {
  font-size: 12px;
  font-weight: normal;
  color: grey;
}