include ../../../blocks/button/button.pug
mixin recall__text(title, subtitle, smallText)
	.offset-md-6.col-6.text-center.col-xl-4.col-lg-5.col-md-6.col-sm-8.col-xs-10.col-10.text-center.pt-3.pt-sm-3
		.m-sm-3.m-1.text-center
			.recall__title= title
			.recall__subtitle.m-3= subtitle
			.recall__action.m-3
				.recall__form-sms action
			+button('ЗАБРОНИРОВАТЬ')
			.recall__small-text.pt-3= smallText