include ../../../blocks/button/button.pug
mixin recall__text(title, subtitle, smallText)
	.offset-md-6.col-6.text-center.col-xl-4.col-lg-5.col-md-6.col-sm-8.col-xs-10.col-10.text-center.pt-3.pt-sm-3
		.m-sm-3.m-1.text-center.p-3
			a#recall_us
			.recall__title= title
			.recall__subtitle= subtitle
			.recall__action.p-2.p-md-3
				+recallus()
			//	.recall__form-sms
			//		input( type="text" name="tel" value="Введите ваш телефон" size="20" maxlength="15" width="220px" height="40px")
			//+button('Отправить')
			.recall__small-text= smallText