.recall__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: normal;
  text-align: center;
}
.recall__subtitle {
  font-size: 1.2rem;
}

.recall__small-text {
  font-size: 0.7rem;
  font-weight: normal;
  color: grey;
}
