mixin slider_m()
	.hotel__slider__booking-rating_m
	.autoplay_hotel
		.img1.op
		.img2.op
		.img3.op
		.img4.op
		.img5.op
		.img6.op
		.img7.op
		.img8.op
		.img9.op
		.img10.op
		.img11.op
		.img12.op
		.img13.op
		.img14.op
		.img15.op
		.img16.op
		.img17.op
		.img18.op
		.img19.op
		.img20.op
		.img21.op
		.img22.op

mixin slider_k()
	.hotel__slider__booking-rating_k
	.autoplay_hotel
		.img301.op
		.img302.op
		.img303.op
		.img304.op
		.img305.op
		.img306.op
		.img307.op
		.img308.op
		.img309.op
		.img310.op

mixin slider_n()
	.hotel__slider__booking-rating_n
	.autoplay_hotel
		.img401.op
		.img402.op
		.img403.op
		.img404.op
		.img406.op
		.img407.op
		.img408.op
		.img409.op

mixin slider_t()
	.hotel__slider__booking-rating_t
	.autoplay_hotel
		.img501.op
		.img502.op
		.img503.op
		.img504.op
		.img505.op
		.img506.op
		.img507.op
		.img508.op
		.img509.op
		.img510.op
		.img511.op
		.img512.op
		.img513.op
		.img515.op
		.img516.op
		.img517.op