@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.eot');
    src: url('../fonts/Exo2-Regular.eot?iefix') format('eot'),
    url('../fonts/Exo2-Regular.woff') format('woff'),
    url('../fonts/Exo2-Regular.ttf') format('truetype'),
    url('../fonts/Exo2-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Bold.eot');
    src: url('../fonts/Exo2-Bold.eot?iefix') format('eot'),
    url('../fonts/Exo2-Bold.woff') format('woff'),
    url('../fonts/Exo2-Bold.ttf') format('truetype'),
    url('../fonts/Exo2-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo2-Italic.eot');
  src: url('../fonts/Exo2-Italic.eot?iefix') format('eot'),
  url('../fonts/Exo2-Italic.woff') format('woff'),
  url('../fonts/Exo2-Italic.ttf') format('truetype'),
  url('../fonts/Exo2-Italic.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
    font-family: 'Exo-Thin';
    src: url('../fonts/Exo2-Thin.eot');
    src: url('../fonts/Exo2-Thin.eot?iefix') format('eot'),
    url('../fonts/Exo2-Thin.woff') format('woff'),
    url('../fonts/Exo2-Thin.ttf') format('truetype'),
    url('../fonts/Exo2-Thin.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?iefix') format('eot'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?iefix') format('eot'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}
