include ../../../blocks/button/button.pug
mixin module()
	.container.mt-5
		.row.justify-content-center.justify-content-md-start
			.col-xl-4.col-lg-5.col-md-6.col-sm-8.col-xs-10.text-center.first-screen__booking-module--background-white.shadow.p-4
				form
					.row.justify-content-center
						.col-12.mb-3
							legend.text-center.first-screen__booking-module--title-style.d-inline.pb-3.pt-3 Найдите подходящий вариант со скидкой
							label.first-screen__booking-module--subtitle-style.text-left(for='choose') Выберите отель или квартиру
							input#choose.form-control(type='text' required)
					.row.justify-content-between
						.col-6
							label.help(for='arrival') Дата заезда
						.col-6
							label.help(for='departure') Дата выезда
					.row.justify-content-between.mb-3.mb-sm-0
						.col-5.col-sm-6
							input#arrival(type='date' required)
						.col-5.col-sm-6
							input#departure(type='date' required)
					.row.justify-content-center
						.col-12
							+button('ЗАБРОНИРОВАТЬ')
							small.form-text.text-muted.pb-3.small-text-color В цену на сайте уже включена скидка