.first-screen__booking-module--background-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.first-screen__booking-module--title-style {
  font-size: 1.3rem;
  font-family: Exo;
  font-weight: bold;
}

.first-screen__booking-module--subtitle-style {
  text-align: left;
  font-size: 1em;
  margin: 0;
}


form input[type="date"]
{
  max-width: 100%;
  height: 40px;
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.shadow {
  box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.25);
}

.small-text-color {
  color: black;
}

@media (min-width: 320px) and (max-width: 340px) {
  .first-screen__booking-module--subtitle-style {
    text-align: left;
    font-size: 0.9em;
    margin: 0;
  }

  .small-text-color {
    font-size: 0.7em;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .first-screen__booking-module--title-style {
    font-size: 1.2rem;
    font-family: 'Exo';
    line-height: 27px;
    font-weight: bold;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .first-screen__booking-module--title-style {
    font-size: 1.2rem;
    font-family: Exo;
    font-weight: bold;
  }
}
