include footer__icons.pug

.footer--bgcolor
	.containter-fluid
		.row.justufy-content-around.align-content-stretch
			.col-12.col-md-4.text-md-left.text-center
				.footer--text.p-3 info@infomail.ru
			.p-md-3.p-3.text-center.col-12.col-md-4
				+footer__icons()
			.text-md-right.text-center.col-12.col-md-4
				.footer--text.p-3 8 800 800 00 00