.footer__icons {
  display: inline-block;
}

.vk:hover {
  background-image: url('footer__icons/hover_vk.svg');
  width: 45px;
  height: 43px;
}

.fb:hover {
  background-image: url('footer__icons/hover_facebook.svg');
  width: 45px;
  height: 43px;
}

.inst:hover {
  background-image: url('footer__icons/hover_instagram.svg');
  width: 45px;
  height: 43px;
}

.vk{
  background-image: url('footer__icons/vk.svg');
  width: 45px;
  height: 43px;
}
.fb{  background-image: url('footer__icons/facebook.svg');
    width: 45px;
  height: 43px;
}
.inst{  background-image: url('footer__icons/instagram.svg');
    width: 45px;
  height: 43px;
}