.footer__icons {
  display: inline-block;
}

.vk{
  background-image: url('../../img/icons/social_net/vk.svg');
  width: 45px;
  height: 43px;
  //display: inline;
}
.fb{  background-image: url('../../img/icons/social_net/facebook.svg');
    width: 45px;
  height: 43px;
    //display: inline;
}
.inst{  background-image: url('../../img/icons/social_net/instagram.svg');
    width: 45px;
  height: 43px;
    //display: inline;
}