mixin footer__icons()
	.footer__icons
		.row
			.col-4
				a(href='#' title='social net icon')
					.vk.m-3

			.col-4
				a(href='#' title='social net icon')
					.fb.m-3
			.col-4
				a(href='#' title='social net icon')
					.inst.m-3