include footer__icons.pug

.footer--bgcolor
	.containter-fluid
		.row.justify-content-between.p-md-5.p-3
			.col-12.col-md-4.text-md-left.text-center.d-none.d-md-block
				a(href='mailto:apart@ukdali.ru').footer--text.p-3 apart@ukdali.ru
			//.p-md-3.p-3.text-center.col-12.col-md-4
			//	+footer__icons()
			.col-12.col-md-4.text-md-right.text-center
				a(href='tel:89052209010').footer--text.p-3 +7 905 220 90 10
			.col-12.col-md-4.text-md-left.text-center.d-md-none
				a(href='mailto:apart@ukdali.ru').footer--text.p-3 apart@ukdali.ru