include footer__icons.pug

.footer--bgcolor
	.containter-fluid
		.row.justufy-content-around.align-content-stretch
			.col-4.p-5
				.footer--text info@infomail.ru
			.col-4.p-5.text-center
				+footer__icons()
			.col-4.p-5.text-right
				.footer--text 8 800 800 00 00