.footer--bgcolor
	.container-fluid
		.row.justify-content-md-between.justify-content-center.pt-2.align-items-center.p-2
			.col-auto.text-center.align-self-center.p-1.p-md-0
				.logonew
			.col-md-6.col-12
				.col-auto.text-md-right.text-center.p-1.p-md-0
					a(href='tel:89052209010').footer--text.p-1 +7 905 220 90 10
				.col-auto.text-md-right.text-center.p-1.p-md-0
					a(href='mailto:apart@ukdali.ru').footer--text.p-1 apart@ukdali.ru
			.col-12.text-center.footer--text.p-1
				| &#169; Дали-Апарт
				br
				| Санкт-Петербург 2019