.footer--bgcolor {
  height: auto;
  background-color:#403C3B;
  font-family: "Exo";
  color: white;
}

a.footer--text {
  text-decoration: none;
  font-family: "Exo";
  color: white;
}

a.footer--text:hover, :focus, :active {
  color: #DEDEDE;
}

.footer--text {
  font-size: 1.3rem;
}

@media (min-width: 320px) and (max-width: 991px) {
  .footer--bgcolor {
    height: auto;
  }

  .footer--text {
    font-size: 1.3rem;
  }
}
