include ../first_screen/__menu/__menu.pug
include ../first_screen/__title/__title.pug
include __booking_module/booking__module.pug
.first_screen--bg.shadow
	+menu()
	.p-1
	+title()
	.p-2
	+module()
	//#_baror_
	//	a(href='https://ru.wubook.net/', style='display: block; margin-top: 5px; text-decoration:none;border:none;', target='_blank')
	//		img(src='https://wubook.net/imgs/default/booking_by_wu.gif', alt='http://www.ru.wubook.net/', title='Инструменты для отелей', style='border:none;text-decoration:none;')
	.p-3