.first_screen--bg {
  position: relative;
  background-image: url('../../img/first_screen__img/1st_screen_480.jpg');
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
}

.padding_new {
  padding: calc(15px + 2vw);
}
.first_screen__h2-style {
  font-size: 1.3rem;
  padding: 2vw;
  padding-bottom: 0;
  text-align: center;
  font-weight: bold;
}

.first-screen__booking-module--background-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;

}

@media (min-width: 1281px) and (max-width: 1920px) {
  .first_screen--bg {
    background-image: url('../../img/first_screen__img/1st_screen_1920.jpg');
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
    .first_screen--bg {
    background-image: url('../../img/first_screen__img/1st_screen_1280.jpg');
  }
}
@media (min-width: 481px) and (max-width: 767px) {
    .first_screen--bg {
    background-image: url('../../img/first_screen__img/1st_screen_767.jpg');
  }
}
@media (min-width: 320px) and (max-width: 480px) {
    .first_screen--bg {
    background-image: url('../../img/first_screen__img/1st_screen_480.jpg');
  }
}


// активация слайд-шоу
//.body_slides{
//  list-style:none;
//  margin:0;
//  padding:0;
//  z-index:-2;
//  //background:#000;
//}
//.body_slides,
//.body_slides:after{
//  //position: fixed;
//  width:100%;
//  height:100%;
//  top:0;
//  left:0;}
//.body_slides:after {
//  content: '';
//  //background: transparent url('../../recall__img/sliders/1st_screen/pattern.png') repeat top left;
//}
//
//.body_slides li{
//  width:100%;
//  height:100vw;
//  position: absolute;
//  top:0;
//  left:0;
//  background-size:cover;
//  background-repeat: no-repeat;
//  opacity:1;
//  -webkit-animation: anim_slides 18s linear infinite 0s;
//  -moz-animation: anim_slides 18s linear infinite 0s;
//  -o-animation: anim_slides 18s linear infinite 0s;
//  -ms-animation: anim_slides 18s linear infinite 0s;
//  animation: anim_slides 18s linear infinite 0s;
//}
//.body_slides li:nth-child(1){
//  background-image: url('../../recall__img/sliders/1st_screen/11.jpg');
//}
//.body_slides li:nth-child(2){
//  -webkit-animation-delay: 6.0s;
//  -moz-animation-delay: 6.0s;
//  background-image: url('../../recall__img/sliders/1st_screen/2.jpg');
//  background-position: center center;
//}
//.body_slides li:nth-child(3){
//  -webkit-animation-delay: 12.0s;
//  -moz-animation-delay: 12.0s;
//  background-image: url('../../recall__img/sliders/1st_screen/3.jpg');
//  background-position: center center;
//}
//@-webkit-keyframes anim_slides {
//  0% {opacity:0;}
//  6% {opacity:1;}
//  24% {opacity:1;}
//  30% {opacity:0;}
//  100% {opacity:0;}
//}
//@-moz-keyframes anim_slides {
//  0% {opacity:0;}
//  6% {opacity:1;}
//  24% {opacity:1;}
//  30% {opacity:0;}
//  100% {opacity:0;}
//}