include ../first_screen/__menu/__menu.pug
include ../first_screen/__title/__title.pug

.first_screen--bg
	+menu()
	.p-1
	+title()
	.m-5
	.container-fluid
		.row.justify-content-center
			.offset-xl-8.col-xl-4.padding_new.col-lg-5.offset-lg-7.col-md-6.offset-md-6.col-sm-7.offset-sm-5.col-10
				.first-screen__booking-module--background-white.shadow
					h2.first_screen__h2-style Забронировать на сайте со скидкой 10%
						.p-2
							<div id="_wbord_">
							<a href="https://ru.wubook.net/" style="display: block; margin-top: 5px; text-decoration:none;border:none" target="_blank">
							</a>
							.small.form-text.text-muted.pb-sm-3.pb-1.small-text-color В цену на сайте уже включена скидка
							</div>