.hello {
  position: relative;
  //z-index: 20;
  background-image: url('../../img/sliders/1st_screen/11.jpg');
  height: 720px;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
}



// активация слайд-шоу
//.body_slides{
//  list-style:none;
//  margin:0;
//  padding:0;
//  z-index:-2;
//  //background:#000;
//}
//.body_slides,
//.body_slides:after{
//  //position: fixed;
//  width:100%;
//  height:100%;
//  top:0;
//  left:0;}
//.body_slides:after {
//  content: '';
//  //background: transparent url('../../img/sliders/1st_screen/pattern.png') repeat top left;
//}
//
//.body_slides li{
//  width:100%;
//  height:100vw;
//  position: absolute;
//  top:0;
//  left:0;
//  background-size:cover;
//  background-repeat: no-repeat;
//  opacity:1;
//  -webkit-animation: anim_slides 18s linear infinite 0s;
//  -moz-animation: anim_slides 18s linear infinite 0s;
//  -o-animation: anim_slides 18s linear infinite 0s;
//  -ms-animation: anim_slides 18s linear infinite 0s;
//  animation: anim_slides 18s linear infinite 0s;
//}
//.body_slides li:nth-child(1){
//  background-image: url('../../img/sliders/1st_screen/11.jpg');
//}
//.body_slides li:nth-child(2){
//  -webkit-animation-delay: 6.0s;
//  -moz-animation-delay: 6.0s;
//  background-image: url('../../img/sliders/1st_screen/2.jpg');
//  background-position: center center;
//}
//.body_slides li:nth-child(3){
//  -webkit-animation-delay: 12.0s;
//  -moz-animation-delay: 12.0s;
//  background-image: url('../../img/sliders/1st_screen/3.jpg');
//  background-position: center center;
//}
//@-webkit-keyframes anim_slides {
//  0% {opacity:0;}
//  6% {opacity:1;}
//  24% {opacity:1;}
//  30% {opacity:0;}
//  100% {opacity:0;}
//}
//@-moz-keyframes anim_slides {
//  0% {opacity:0;}
//  6% {opacity:1;}
//  24% {opacity:1;}
//  30% {opacity:0;}
//  100% {opacity:0;}
//}