include ../../../blocks/button/button.pug
mixin disc_mod()
	.disc_mod.ml-md-5.mr-md-5
		.container-fluid
			.row.justify-content-center
				.discount__module--bg-font.text-center.shadow.col-xl-4.col-lg-5.col-md-6.col-sm-8.col-xs-10.col-10.text-center.shadow.pl-sm-5.pr-sm-5.pt-sm-4.pb-sm-4.mb-1.p-4.offset-xl-8.offset-lg-7.offset-md-6
					.discount__header--style.p-2.discount__module--title АКЦИЯ
					p.p-2.discount__module--text--style Забронируйте на сайте со скидкой 10%
					.p-2
						a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
							+button('ЗАБРОНИРОВАТЬ')
					small.form-text.text-muted.pb-3.small-text-color.pl-1 В цену на сайте уже включена скидка