.discount__text--style {
  font-style: Exo;
  font-size: 24px;
}

.shadow {
  box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.25);
}

.dicsount__module--bg-font {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.dicsount__module--title {
  font-size: 1.3rem;
  font-family: Exo;
  font-weight: bold;
}