include ../recall/__text/recall__text.pug
.d-none.d-md-block
	.recall.shadow
		.container-fluid
				.row
					+recall__text('Не смогли определиться?', 'Закажите обратный звонок', 'Оставляя свой номер, ' +
					'вы даете согласие с политикой обработки данных')


.d-md-none
	.recall.shadow
	.container-fluid
	.row.text-center.justify-content-center
		+recall__text('Не смогли определиться?', 'Закажите обратный звонок', 'Оставляя свой номер, вы даете согласие с политикой обработки данных')

