include ../recall/__text/recall__text.pug
.recall
	.container-fluid
		.row
			+recall__text('Не смогли определиться?', 'Закажите обратный звонок', 'Оставляя свой номер, вы даете согласие с политикой обработки данных')