@mixin marata_font {
  padding: 0 2vw;
  height: auto;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(0.297, rgb(240, 223, 229)),color-stop(0.687, rgb(240, 223, 229)),color-stop(1, rgb(255, 255, 255)));
  background-color: #f0dfe5;
}
//29 & 68


@mixin kuzn_font {
  padding: 2vw;
  height: auto;
  background-color: #e4eaed;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(0.29, rgb(228, 234, 237)),color-stop(0.68, rgb(228, 234, 237)),color-stop(1, rgb(255, 255, 255)));
}



@mixin nevsk_font {
  padding: 2vw;
  height: auto;
  background-color: #e8e6df;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(0.29, rgb(232, 230, 223)),color-stop(0.68, rgb(232, 230, 223)),color-stop(1, rgb(255, 255, 255)));
}

@mixin teleg_font {
  padding: 2vw;
  height: auto;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(0.29, rgb(242, 231, 220)),color-stop(0.68, rgb(242, 231, 220)),color-stop(1, rgb(255, 255, 255)));
  background-color: #f2e7dc;
}

.marata {
  @include marata_font
}

.kuzn {
  @include kuzn_font
}

.nevsk {
  @include nevsk_font
}

.teleg {
  @include teleg_font
}