include ./__title/hotel__title.pug
include ./__text/hotel__text.pug
include ./__icons/hotel__icons.pug
include ./__slider/hotel__slider.pug
include ../../blocks/button/button.pug
.marata
	.container-fluid
		.row
			.col-12.col-lg-6.d-none.d-lg-block
				+hotel__title('АПАРТ-ОТЕЛЬ НА МАРАТА', 'https://yandex.ru/maps/?um=constructor%3A764ff6f7ee7d300ae037a06d69a8539cb9ae0fb234f625ffd6940cfc596e0b99&source=constructorLink')
				+hotel__text('Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней. К услугам гостей бесплатный Wi - Fi.Музей Фаберже находится в 1,5 км от апарт-отеля, а Государственный Русский музей — в 2,4 км. ' +
        'Центральный район — отличный выбор, если вам интересны музеи, культура и архитектура. Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней.')
				.text-center.align-self-end.m-5
					a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
						+button('забронировать')
			.col-12.col-lg-6
				+slider_m()
				.m-2
				.d-none.d-lg-block
					+hotel__icons()
				.d-lg-none.text-center
					.p-2
						+hotel__title('АПАРТ-ОТЕЛЬ НА МАРАТА', 'https://yandex.ru/maps/?um=constructor%3A764ff6f7ee7d300ae037a06d69a8539cb9ae0fb234f625ffd6940cfc596e0b99&source=constructorLink')
					.p-2
						button.btn.btn-outline-secondary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
							| Подробнее об отеле
						#collapseExample.collapse.p-2
							.card.card-body.text-left.hotel__text
								| Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней. К услугам гостей бесплатный Wi - Fi.Музей Фаберже находится в 1,5 км от апарт-отеля, а Государственный Русский музей — в 2,4 км. ' +
								| 'Центральный район — отличный выбор, если вам интересны музеи, культура и архитектура. Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней.
							.card.card-footer
								+hotel__icons()
					.text-center.p-2
						a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
							+button('забронировать')

.kuzn
	.container-fluid
		.row
			.col-12.col-lg-6.d-none.d-lg-block
				+hotel__title('АПАРТ-ОТЕЛЬ НА КУЗНЕЧНОМ', 'https://yandex.ru/maps/?um=constructor%3A7ec2d3f328c3ba4a5126c114a49ab837ccdb7f1c9aa3f2c2f22111316f3b221b&source=constructorLink')
				+hotel__text('Уютные апартаменты на два номера для размещения 1-2 человек в центре города. Очень удобное расположение как для туриста, так и для командировочного сотрудника или студента. В 5-7 минутах пешком от метро Невский проспект.Рядом 5 станций метро, множество магазинов,кафе, баров и ресторанов. Общая площадь номера - 23 кв м. со всеми удобствами и кухней, которая отделена от спальни.Уютные апартаменты на два номера для размещения 1-2 человек в центре города. Очень удобное расположение.')
				.text-center.align-self-end.m-5
					a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
						+button('забронировать')
			.col-12.col-lg-6
				+slider_k()
				.m-2
				.d-none.d-lg-block
					+hotel__icons()
				.d-lg-none.text-center
					.p-2
						+hotel__title('АПАРТ-ОТЕЛЬ НА КУЗНЕЧНОМ', 'https://yandex.ru/maps/?um=constructor%3A7ec2d3f328c3ba4a5126c114a49ab837ccdb7f1c9aa3f2c2f22111316f3b221b&source=constructorLink')
					.p-2
						button.btn.btn-outline-secondary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
							| Подробнее об отеле
						#collapseExample.collapse.p-2
							.card.card-body.text-left.hotel__text
								| Уютные апартаменты на два номера для размещения 1-2 человек в центре города. Очень удобное расположение как для туриста, так и для командировочного сотрудника или студента.
								| В 5-7 минутах пешком от метро Невский проспект.Рядом 5 станций метро, множество магазинов,кафе, баров и ресторанов. Общая площадь номера - 23 кв м. со всеми удобствами и кухней, которая отделена от спальни
							.card.card-footer
								+hotel__icons()
					.text-center.p-2
						a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
							+button('забронировать')

.nevsk
	.container-fluid
		.row
			.col-12.col-lg-6.d-none.d-lg-block
				+hotel__title('АПАРТАМЕНТЫ НА НЕВСКОМ', 'https://yandex.ru/maps/?um=constructor%3A402e0e974d2b0951efc31f2027f29ca8d1bc65f9807fee47a9b7b0cc2fbc7170&source=constructorLink')
				+hotel__text('Двухкомнатная квартира в центре Санкт-Петербурга в 7 мин.пешком от Московского вокзала.В новом доме с чистым подъездом и консьержем. Современный большой лифт. Две изолированные комнаты, раздельный сан.узел. Застекленная лоджия. Кухня оборудована всем необходимым для приготовления и принятия пищи. Квартира чистая, светлая и теплая. Подходит для размещения до 5 человек. Двухкомнатная квартира в центре Санкт-Петербурга в 7 мин.пешком от Московского вокзала.В новом доме с чистым подъездом и консьержем.')
				.text-center.align-self-end.m-5
					a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
						+button('забронировать')
			.col-12.col-lg-6
				+slider_n()
				.m-2
				.d-none.d-lg-block
					+hotel__icons()
				.d-lg-none.text-center
					.p-2
						+hotel__title('АПАРТАМЕНТЫ НА НЕВСКОМ', 'https://yandex.ru/maps/?um=constructor%3A402e0e974d2b0951efc31f2027f29ca8d1bc65f9807fee47a9b7b0cc2fbc7170&source=constructorLink')
					.p-2
						button.btn.btn-outline-secondary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
							| Подробнее об отеле
						#collapseExample.collapse.p-2
							.card.card-body.text-left.hotel__text
								| Двухкомнатная квартира в центре Санкт-Петербурга в 7 мин.пешком от Московского вокзала.
								| В новом доме с чистым подъездом и консьержем. Современный большой лифт. Две изолированные комнаты, раздельный сан.узел. Застекленная лоджия.  Кухня оборудована всем необходимым для приготовления и принятия пищи.
								| Квартира чистая, светлая и теплая. Подходит для размещения до 5 человек.
							.card.card-footer
								+hotel__icons()
					.text-center.p-2
						a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
							+button('забронировать')

.teleg
	.container-fluid
		.row
			.col-12.col-lg-6.d-none.d-lg-block
				+hotel__title('АПАРТАМЕНТЫ НА ТЕЛЕЖНОЙ', 'https://yandex.ru/maps/?um=constructor%3A1a7e5163bcd61678a16561d39deba393accde971d34c2b2503215fd912d8e8c3&source=constructorLink')
				+hotel__text('"Изюминкой" этой двухкомнатной квартиры является свой отдельный вход со двора на 1-ом этаже , что полностью избавляет от соседей и закрытая веранда при входе для хранения вещей.Квартира расположена в 3 мин.пешком от Невского пр. на тихой улочке во дворе,что избавит Вас от лишнего шума и городской суеты.В 7 мин .пешком Московский вокзал, ТРК Галерея , ст.м.пл.Восстания. "Изюминкой" этой двухкомнатной квартиры является свой отдельный вход со двора на 1-ом этаже , что полностью избавляет от соседей и закрытая веранда при входе для хранения вещей.')
				.text-center.align-self-end.m-5
					a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
						+button('забронировать')
			.col-12.col-lg-6
				+slider_t()
				.m-2
				.d-none.d-lg-block
					+hotel__icons()
				.d-lg-none.text-center
					.p-2
						+hotel__title('АПАРТАМЕНТЫ НА ТЕЛЕЖНОЙ', 'https://yandex.ru/maps/?um=constructor%3A1a7e5163bcd61678a16561d39deba393accde971d34c2b2503215fd912d8e8c3&source=constructorLink')
					.p-2
						button.btn.btn-outline-secondary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
							| Подробнее об отеле
						#collapseExample.collapse.p-2
							.card.card-body.text-left.hotel__text
								| "Изюминкой" этой двухкомнатной квартиры является свой отдельный вход со двора на 1-ом этаже , что полностью избавляет от соседей и закрытая веранда при входе для хранения вещей.
								| Квартира расположена в 3 мин.пешком от Невского пр. на тихой улочке во дворе,что избавит Вас от лишнего шума и городской суеты.
								| В 7 мин .пешком Московский вокзал, ТРК Галерея , ст.м. пл.Восстания.
							.card.card-footer
								+hotel__icons()
					.text-center.p-2
						a(href="https://wubook.net/wbkd/wbk/?lcode=1507728635")
							+button('забронировать')
