include ./__title/hotel__title.pug
include ./__text/hotel__text.pug
include ./__icons/hotel__icons.pug
include ./__slider/hotel__slider.pug
include ../../blocks/button/button.pug
.marata
	.container-fluid
		.row
			.col-12.col-lg-6.d-none.d-lg-block
				+hotel__title('Апарт-отель на Марата', 'https://yandex.ru/')
				+hotel__text('Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней. К услугам гостей бесплатный Wi - Fi.Музей Фаберже находится в 1,5 км от апарт-отеля, а Государственный Русский музей — в 2,4 км. ' +
        'Центральный район — отличный выбор, если вам интересны музеи, культура и архитектура. Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней.')
				.text-center.align-self-end.m-5
					+button('ЗАБРОНИРОВАТЬ')
			.col-12.col-lg-6
				+slider_m()
				.m-2
				.d-none.d-lg-block
					+hotel__icons()
				.d-lg-none.text-center
					.p-2
						+hotel__title('Апарт-отель на Марата', 'https://yandex.ru/')
					.p-2
						button.btn.btn-outline-secondary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
							| Подробнее об отеле
						#collapseExample.collapse
							.card.card-body.text-left
								| Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней. К услугам гостей бесплатный Wi - Fi.Музей Фаберже находится в 1,5 км от апарт-отеля, а Государственный Русский музей — в 2,4 км. ' +
								| 'Центральный район — отличный выбор, если вам интересны музеи, культура и архитектура. Апарт-отель «На Марата 28» расположен в 1,3 км от музея Анны Ахматова в Центральном районе Санкт-Петербурга. К услугам гостей апартаменты с кухней.
					.text-center.p-2
						+button('ЗАБРОНИРОВАТЬ')


//2-
//'Уютные апартаменты на два номера для размещения 1-2 человек в центре города. Очень удобное расположение как для туриста, так и для командировочного сотрудника или студента. В 5-7 минутах пешком от метро Невский проспект.' +
//				'Рядом 5 станций метро, множество магазинов,кафе, баров и ресторанов.Общая площадь номера - 23 кв м. со всеми удобствами и кухней, которая отделена от спальни'


//3-
//	('Двухкомнатная квартира в центре Санкт-Петербурга в 7 мин.пешком от Московского вокзала.\n' +
//        'В новом доме с чистым подъездом и консьержем. Современный большой лифт. Две изолированные комнаты, раздельный сан.узел. Застекленная лоджия.  Кухня оборудована всем необходимым для приготовления и принятия пищи.\n' +
//        'Квартира чистая, светлая и теплая. Подходит для размещения до 5 человек \n')

	4-('"Изюминкой" этой двухкомнатной квартиры является свой отдельный вход со двора на 1-ом этаже , что полностью избавляет от соседей и закрытая веранда при входе для хранения вещей. \n' +
	//        'Квартира расположена в 3 мин.пешком от Невского пр. на тихой улочке во дворе,что избавит Вас от лишнего шума и городской суеты.\n' +
	//        'В 7 мин .пешком Московский вокзал, ТРК Галерея , ст.м. пл.Восстания.\n')