mixin map(title)

	h4.map__title.m-5= title
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9cc90f8059027729e40c1a3d1a1bd9a7eb745fceab85f10607a6d0cd509cf1a3&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
