extends ./blocks/template/template.pug
block content
	include ./blocks/first_screen/first_screen.pug
	.discount__white-stripe
	include ./blocks/hotel/hotel.pug
	.m-5
	include ./blocks/reviews/reviews.pug
	.m-5
	include ./blocks/map/map.pug
	.m-5
	include ./blocks/recall/recall
	//.discount__white-stripe
	include ./blocks/footer/footer.pug