extends ./blocks/template/template.pug
block content
	include ./blocks/first_screen/first_screen.pug
	.m-5
	include ./blocks/discount/discount.pug
	.m-5
	include ./blocks/hotel/hotel.pug
	.m-5
	include ./blocks/reviews/reviews.pug
	.m-5
	include ./blocks/map/map.pug
	.m-5
	include ./blocks/recall/recall.pug
	.m-5
	include ./blocks/footer/footer.pug