@import "node_modules/bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.scss";

.btn-outline-light{
max-width: 100%;
min-width: 100px;
background-color: rgba(255, 255, 255, 0.5);
color: black;
border-radius: 10px;
padding: 1px;
font-size: 0.6rem;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline-light:hover {
background-color: #D33D61;;
color: white;
border: 1px solid #CD3D61;
}

.btn-outline-secondary {
    max-width: 100%;
    min-width: 220px;
}

.card-footer {
padding: 0 0.5rem;
}

.card-body {
padding: 0.5rem;}

$btn-color: #A73D61;
$btn-hover: #D33D61;
$btn-active: #CD3D61;

.bg-light {
  background-color: transparent !important;
}

$marata_bg: #D29EB0; //66
$kuzn_bg: #CCD7DD;//100
$teleg_bg: rgba(228, 205, 181, 1); //67%
$nevsk_bg: #BDB9A5;//81%

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.4);
  }

.btn-warning {
  color: white;
  background-color: $btn-color;
  font-size: 20px;
  font-weight: bold;
  border: white solid 2px;
  max-width: 100%;
  min-width: 220px;
  padding: 7px;
  height: 50px;
  border-radius: 0rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.shadow {
box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.25);
}



.btn-warning:hover {
  color: white;
  background-color: $btn-hover;
  border-color: white;
}

.btn-warning:active {
  background-color: $btn-active;
  border-color: white;
}

.text-muted {
  color: black !important;
}

.card-body {
background-color: rgba(161, 102, 70, 0.16);
}

.text-muted {
color: grey;
}